<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/editor/kindeditor.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/select-ui.min.js"></script>
<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>
<title>Document</title>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">表单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>基本信息</span></div>
        <ul class="forminfo">
           <form action="<{:U(Admin/Index/form)}>" method="POST">
                <li><label>文章标题</label><input name="title" type="text" class="dfinput" /><i>标题不能超过30个字符</i></li>
                <li><label>专业方向</label>
                    <select name="profession" class="dfinput">
                        <option value="">--请选择--</option>
                        <option value="android">安卓</option>
                        <option value="Web">Web</option>
                        <option value="PHP">PHP</option>
                        <option value="美工">美工</option>
                    </select>             
                </li>
                <li><label>引用地址</label><input name="link" type="text" class="dfinput" value="" /></li>
             
                <li><label>文章内容</label><textarea id="content7" name="content" style="width:700px;height:250px;visibility:hidden;"></textarea></li>
                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认提交"/></li>
            </form>
        </ul>
  
    </div>

    </div>
</body>

</html>
