<!DOCTYPE HTML>
<html>
<head>
<title>Single</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="__PUBLIC__/css/hover.css" rel="stylesheet" media="all">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Lobortis Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<!---- animated-css ---->
		<link href="__PUBLIC__/css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="__PUBLIC__/js/wow.min.js"></script>
		<script>
		 new WOW().init();
		</script>
<!---- animated-css ---->
</head>
<body>
<!--header start here-->
<div class="header">
	<div class="container head-nav-back">
		<div class="header-main">
			<div class="logo wow bounceIn" data-wow-delay="0.4s">
				<a href="index.html"> <img src="__PUBLIC__/images/logo.png" alt=""/> </a>
			</div>
			<div class="navg">
				<span class="menu"> <img src="__PUBLIC__/images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="__URL__/index">首页</a></li>
					<li><a href="__URL__/about">关于</a></li>
					<li><a href="__URL__/introduce">展示</a></li>
					<li><a class="ser active" href="__URL__/news">动态</a></li>
					<li><a href="__URL__/contact">联系</a></li>
				</ul>
				 <script>
                              $( "span.menu").click(function() {
                                                                $(  "ul.res" ).slideToggle("slow", function() {
                                                                 // Animation complete.
                                                                 });
                                                                 });
                 </script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--single page start here-->
<!--about start here-->
<div class="projects">
	<div class="container">
		<div class="projects-main">
			<div class="projects-top">
				<h3>Our Projects</h3>
			  	<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
			</div>
			
			
			<!-- 遍历循环出所有新闻 -->
			<volist name="news" id="vo">
				<div class="p-single">
				  	<div class="col-md-2 p-single-left">
				  		<div class="number">
				  			<div class="date">
				  				<h3><{$vo.date|getDay=###}></h3>
				  			</div>
				  			<div class="month">
				  				<p><{$vo.date|getMon=###}></p>
				  			</div>
				  		</div>
				  	</div>
				  	<div class="col-md-10 single-inform wow bounceInRight" data-wow-delay="0.4s">
					 <div class="project-img">
						<img src="__PUBLIC__/images/<{$vo.image}>" alt=""/>
					 </div>
					 <div class="project-text">
					 	<h4><{$vo.title}></h4>
						<p>
							<{$vo.content}>
						</p>
					 </div>
					 <div class="clearfix"> </div>
				  	</div>
				  	<div class="clearfix"> </div>
				</div>
			</volist>
		</div>
		<div class="clearfix"> </div>
		<!-- 多说评论框 start --> 
		<div class="ds-thread" data-thread-key="0" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div> <!-- 多说评论框 end --> <!-- 多说公共JS代码 start (一个网页只需插入一次) --> <script type="text/javascript"> var duoshuoQuery = {short_name:"futurelib"}; (function() { var ds = document.createElement('script'); ds.type = 'text/javascript';ds.async = true; ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js'; ds.charset = 'UTF-8'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds); })(); </script> <!-- 多说公共JS代码 end --> 



	 </div>
 </div>

<!--single page end here-->


</body>
</html>